---
import Sivupohja from "../layouts/Sivupohja.astro";
---

<style>
    html {
        font-family: sans-serif;
    }

    .iso {
        flex: 2;
    }

    body {
        margin: 0;
        overflow-x: hidden;
    }

    h1 {
        text-align: center;
        color: white;
        line-height: 100px;
        margin: 0;
    }

    article {
        padding: 10px;
        margin: 10px;
        background: rgb(251, 251, 251);
        flex: 1;
    }
    section {
        display: flex;
    }
</style>
<Sivupohja
    herokuva="images/auto.jpeg"
    ylapalkivari="#000000"
    alapalkivari="#000000"
    heroteksti="Hei"
    heropainike={true}
>
    <section>
        <article>
            <h2>First article</h2>

            <p>
                <img src="images/nosto.jpg" alt="" width="300" height="200" />
                <br />
                Tacos actually microdosing, pour-over semiotics banjo chicharrones
                retro fanny pack portland everyday carry vinyl typewriter. Tacos
                PBR&B pork belly, everyday carry ennui pickled sriracha normcore
                hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed
                trust fund twee, leggings salvia iPhone photo booth health goth gastropub
                hammock.
                <br />
                Tacos actually microdosing, pour-over semiotics banjo chicharrones
                retro fanny pack portland everyday carry vinyl typewriter. Tacos
                PBR&B pork belly, everyday carry ennui pickled sriracha normcore
                hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed
                trust fund twee, leggings salvia iPhone photo booth health goth gastropub
                hammock. Tacos actually microdosing, pour-over semiotics banjo chicharrones
                retro fanny pack portland everyday carry vinyl typewriter. Tacos
                PBR&B pork belly, everyday carry ennui pickled sriracha normcore
                hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed
                trust fund twee, leggings salvia iPhone photo booth health goth gastropub
                hammock.
            </p>
        </article>

        <article class="iso">
            <h2>Second article</h2>

            <p>
                <img src="images/auto.jpeg" alt="auto" />
                <br />
                Tacos actually microdosing, pour-over semiotics banjo chicharrones
                retro fanny pack portland everyday carry vinyl typewriter. Tacos
                PBR&B pork belly, everyday carry ennui pickled sriracha normcore
                hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed
                trust fund twee, leggings salvia iPhone photo booth health goth gastropub
                hammock.
            </p>
        </article>

        <article></article>
    </section>
</Sivupohja>
