---
import Sivupohja from "../layouts/Sivupohja.astro";
//
---

<style>
  html {
    font-family: sans-serif;
    font-size: 20px;
  }

  .iso {
    flex: 2;
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  /*  margin-bottom: 10px: markinaali
 */

  article {
    padding: 10px;
    margin: 10px;
    background: rgb(251, 251, 251);
    flex: 1;
  }
  section {
    display: flex;
    background-color: rgb(251, 251, 251);
  }

  .sivukuvat {
    margin: 100px auto;
    display: block;
  }
</style>

<Sivupohja
  herokuva="/images/Mikropaija-ikaalinen.png"
  ylapalkivari="#000000"
  alapalkivari="#000000"
  heroteksti=""
  heropainike={false}
>
  <!-- päälä:True Pois: False -->

  <section>
    <!-- vasen puoli kuvista -->
    <article>
      <div>
        <img
          class="sivukuvat"
          src="/images/images.png"
          alt=""
          width="300"
          height="200"
        />

        <img
          class="sivukuvat"
          src="/images/pc-logo.jpg"
          alt=""
          width="300"
          height="200"
        />

        <img
          class="sivukuvat"
          src="/images/atkkorjaus.jpg"
          alt=""
          width="300"
          height="200"
        />
      </div>
    </article>
    <!-- Keskellä oleva sivu -->
    <article class="iso teksti">
      <h2>Mikropaja-Ikaalinen</h2>
      <img src="/images/rikki.jpg" alt="" width="300" height="200" />
      <br /><br />

      Etsitkö edullista ja osaavaa tietokonehuoltoliikettä Mikropaja-Ikaalinen
      sijaitsee aivan keskustan tuntumassa ja on erikoistunut PC-tietokoneiden
      huoltoon, korjaukseen sekä varaosiin. Huoltopalvelujen lisäksi. Olemme
      asiantunteva ja luotettava valinta, kun tietokoneesi tarvitsee huoltoa tai
      olet hankkimassa uutta laitetta.
      <br /><br />

      Tarjoan ammattitaitoista kotisivujen suunnittelua ja toteutusta sekä
      yrityksille että yksityishenkilöille. Räätälöin ratkaisut juuri sinun
      tarpeidesi mukaan – olipa kyseessä pieni esittelysivu tai laajempi
      verkkosivuprojekti." Lisätiedot palveluista: Modernit ja responsiiviset
      sivut, jotka näyttävät hyvältä kaikilla laitteilla. Helppokäyttöinen
      ylläpito ja päivitykset. Verkkokauppojen perustaminen ja optimointi.
      Kilpailukykyiset hinnat ja ystävällinen asiakaspalvelu. Esimerkki
      yhteydenottokehotuksesta: "Ota yhteyttä jo tänään ja suunnitellaan yhdessä
      juuri sinulle sopiva verkkosivuratkaisu!"

      <h3>Tietokone Palvelu ja Korjaus.</h3>
      <li>
        Laitteiden asennus ja huolto: tietokoneet, tulostimet, verkkolaitteet.
      </li>

      <li>Ohjelmistotuki: Asennukset, päivitykset ja ongelmanratkaisu.</li>

      <li>
        Verkkoratkaisut: Kotiverkkojen ja yritysverkkojen optimointi ja
        vianetsintä.
      </li>

      <li>Palautamme hävinneet kuvat ja tiedostot.</li>

      <li>
        Koulutus: yksityisopetusta ja konsultointia ohjelmien ja laitteiden
        käytössä.
      </li>

      <li>
        Tietoturva: Suojausten tarkistus ja neuvoja turvalliseen verkon
        käyttöön.
      </li>

      <li>Teen myös kotisivua.</li>

      <h3>Asiantunteva osaaminen</h3>
      <li>Laaja kokemus ja osaaminen.</li>

      <li>Nopea ja ystävällinen palvelu.</li>
      <li>Räätälöidyt ratkaisut juuri sinulle.</li>

      <h3>Edullinen hinnoittelu</h3>

      <li>
        Kilpailukykyiset hinnat avoimella hinnoittelulla ei piilomaksuja, vain
        loistava palvelu.
      </li>

      <li>
        Palvelen myös kuluttajia paikan päällä asiakkaan kotona ja toimin myös
        lähiseudulla.
      </li>
    </article>

    <!-- oikealla oleva sivu -->
    <article>
      <article>
        <img
          class="sivukuvat"
          src="/images/htlm.jpg"
          alt=""
          width="300"
          height="200"
        />
        <img
          class="sivukuvat"
          src="/images/win11.png"
          alt=""
          width="300"
          height="200"
        />
        <!-- valokuvan vaihto -->
        <!-- <img src="" alt="" width="" height="" />  -->
        <img
          class="sivukuvat"
          src="/images/peli.jpg"
          alt=""
          width="300"
          height="200"
        />
      </article>

      <img src="" alt="" width="" height="" />
    </article>
  </section>
</Sivupohja>
