---
import Sivupohja from "../layouts/Sivupohja.astro";
---

<style>
  html {
    font-family: sans-serif;
  }

  .iso {
    flex: 2;
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgb(251, 251, 251);
    flex: 1;
  }
  section {
    display: flex;
  }
</style>

<Sivupohja
  herokuva="/images/heroatk.png"
  ylapalkivari="#000000"
  alapalkivari="#000000"
  heroteksti=""
  heropainike={false}
>
  <section>
    <article>
      <h2>Mikropaja</h2>

      <p>
        <img src="/images/atkkorjaus.jpg" alt="" width="300" height="200" />
        <br /><br />
        <strong>Edullista tietokoneiden huoltoa Ikaalisissa</strong>
        <br />
        Etsitkö edullista ja osaavaa tietokonehuoltoliikettä Ikaalisista? ATK-huolto
        Iku sijaitsee aivan keskustan tuntumassa ja on erikoistunut PC- ja MAC-tietokoneiden
        huoltoon, korjaukseen sekä varaosiin. Huoltopalvelujen lisäksi tarjoamme
        myyntiin laadukkaita uusia PC-tietokoneita sekä vähän käytettyjä kannettavia.
        Olemme asiantunteva ja luotettava valinta, kun tietokoneesi tarvitsee huoltoa
        tai olet hankkimassa uutta laitetta.
        <br />
        <br /><br />
        <strong>Tietokone rikki?</strong>
        <br />
        Tarjoamme asiantuntevaa, nopeaa ja edullista kokonaispalvelua sekä yrityksille
        että kuluttajille. Huoltoa tai korjausta tarvitsevan tietokoneen tai laitteen
        aloitusanalyysi on aina maksuton, kun huoltotyöt teetetään meillä. Ota yhteyttä
        – autamme mielellämme!
        <br />
        <br />
        <br /><br />
        <strong>Virusten ja haittaohjelmien poisto</strong>
        <br />
        Vaivaako virus vai iskikö mystinen haittaohjelma tietokoneeseesi? Jos olet
        varma tai edes epäilet, että tietokoneeseesi on päätynyt sinne kuulumattomia
        haittaohjelmia tai se toimii oudosti, ota meihin yhteyttä! Selvitämme tilanteen
        puolestasi ja varmistamme, että laitteesi toimii moitteettomasti. Ota yhteyttä
        – katsotaan, miten voimme parhaiten palvella sinua.
      </p>
    </article>

    <article class="iso">
      <h2>Tietokone Palvelu ja Korjaus.</h2>
      <img src="/images/rikki.jpg" alt="" width="300" height="200" />
      <br /><br />

      <h3>Tietokone Palvelu ja Korjaus.</h3>
      <li>
        Laitteiden asennus ja huolto: tietokoneet, tulostimet, verkkolaitteet.
      </li>
      <br />
      <li>Ohjelmistotuki: Asennukset, päivitykset ja ongelmanratkaisu.</li>
      <br />
      <li>
        Verkkoratkaisut: Kotiverkkojen ja yritysverkkojen optimointi ja
        vianetsintä.
      </li>
      <br />
      <li>Palautamme hävinneet kuvat ja tiedostot.</li>
      <br />
      <li>
        Koulutus: yksityisopetusta ja konsultointia ohjelmien ja laitteiden
        käytössä.
      </li>
      <br />
      <li>
        Tietoturva: Suojausten tarkistus ja neuvoja turvalliseen verkon
        käyttöön.
      </li>
      <br />

      <li>Teen myös kotisivua.</li>
      <br />
      <h3>Asiantunteva osaaminen</h3>
      <li>Laaja kokemus ja osaaminen.</li>
      <br />
      <li>Nopea ja ystävällinen palvelu.</li>
      <br />
      <li>Räätälöidyt ratkaisut juuri sinulle.</li>
      <br />
      <h3>Edullinen hinnoittelu</h3>
      <br />
      <li>
        Kilpailukykyiset hinnat avoimella hinnoittelulla – ei piilomaksuja, vain
        loistava palvelu.
      </li>
      <br />
      <li>
        Palvelen myös kuluttajia paikan päällä asiakkaan kotona ja toimin myös
        lähiseudulla.
      </li>
    </article>
    <article class="iso">
      <article>
        <h3>Kokoemme komponetista myös uusia pc-tietokoneita</h3>
        <img src="/images/peli.jpg" alt="" width="300" height="200" />
        <br /><b></b>
        <img src="" alt="" width="" height="" />
      </article>
    </article>
  </section>
</Sivupohja>
