---
import SivupohjaSivupalkki from "../layouts/SivupohjaSivupalkki.astro";
---

<SivupohjaSivupalkki>
  <center><p class="otsikko">Terve</p> </center>
  <p class="sisalto"></p>
</SivupohjaSivupalkki>

<style>
  body,
  html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .sisalto {
    font-size: 20px;
    background-color: #ffffff;
    min-height: 900px;
    border-style: solid;
    border-bottom-width: thin;
  }

  .otsikko {
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

  body {
    background-color: rgb(255, 255, 255);
  }
</style>
