---
import Sivupohja from "../layouts/Sivupohja.astro";
---

<style>
  html {
    font-family: sans-serif;
  }

  .iso {
    flex: 2;
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgb(251, 251, 251);
    flex: 1;
  }
  section {
    display: flex;
  }
</style>
<Sivupohja
  herokuva="/images/headbar.jpg"
  ylapalkivari="#000000"
  alapalkivari="#000000"
  heroteksti=""
  heropainike={false}
>
  <section>
    <article class="iso">
      <p>
        <center>
          <img src="/images/kannetava.jpg" alt="" width="300" height="200" />
          <br /></center
        >
        <center
          ><br />
          Uutiset ATK- ja teknologia-alalta Tänne tuomme uusia uutisia kaikista aiheista,
          jotka liittyvät ATK-alaan ja teknologiaan. Lisäksi käsittelemme ajankohtaisia
          ja merkityksellisiä tapahtumia, joista voi olla hyötyä tai mielenkiintoa
          lukijoillemme. Tutkimme parhaillaan, mitä muuta voisimme lisätä tähän osioon
          tarjotaksemme kattavamman sisällön. Kasperskyn yllättävä päätös ja sen
          seuraukset Venäläinen tietoturvayhtiö Kaspersky on oma-aloitteisesti poistanut
          ohjelmistonsa yhdysvaltalaisten asiakkaidensa tietokoneilta. Tämä toimenpide
          on herättänyt laajaa hämmennystä käyttäjien keskuudessa, sillä ohjelmiston
          poiston yhteydessä koneisiin asennettiin UltraAV-ohjelmisto ilman ennakkovaroitusta.
          <br /></center
        >
        Tietoturvaan erikoistunut uutispalvelu The Bleeping Computer raportoi asiasta
        laajasti. UltraAV on VPN-ratkaisuistaan tunnetun Pango Groupin kehittämä
        tuote, ja Kasperskyn mukaan ohjelmiston korvaaminen UltraAV takaa suojauksen
        jatkuvuuden. Muutoksen nopeus ja ennakoimattomuus ovat kuitenkin herättäneet
        käyttäjissä huolta heidän laitteidensa tietoturvasta. Taustalla on Kasperskyn
        päätös lopettaa toimintansa Yhdysvalloissa. Yritys teki ratkaisun sen jälkeen,
        kun Yhdysvaltojen hallitus lisäsi Kasperskyn kansallisten turvallisuusuhkien
        listalle ja kielsi yrityksen tuotteiden myynnin sekä päivitykset syyskuusta
        2024 alkaen. Pysy ajan tasalla! Tivi tarjoaa tuoreimmat uutiset ja analyysit
        IT-alan tapahtumista. Tilaa uutiskirjeemme ja saat tärkeimmät puheenaiheet
        suoraan sähköpostiisi!
      </p>
      <br /><br />
      <center>
        <img src="/images/uutiset1.png" alt="" width="300" height="200" />
        <center>
          <h3>Uutiset linkit</h3>
          <a href="https://www.ampparit.com/">ampparit.com</a>
          <br /></center
        >
        <a href="https://www.verkkokauppa.com">verkkokauppa.com</a>
      </center>
    </article>
  </section>
</Sivupohja>
