---
import Sivupohja from "../layouts/normisivu.astro";
---

<style>
    html {
        font-family: sans-serif;
    }

    .iso {
        flex: 2;
    }

    body {
        margin: 0;
        overflow-x: hidden;
    }

    h1 {
        text-align: center;
        color: white;
        line-height: 100px;
        margin: 0;
    }

    article {
        padding: 10px;
        margin: 10px;
        background: rgb(251, 251, 251);
        flex: 1;
    }
    section {
        display: flex;
    }
</style>
<Sivupohja
    herokuva="images/heroatk.png"
    ylapalkivari="#000000"
    alapalkivari="#000000"
    heroteksti=""
    heropainike={true}
>
    <section>
        <article class="iso">
            <p> <center>
                <img src="images/auto.jpeg" alt="auto" />
                <br /></center>
                <center><br>
               Tänne tuomme uusia Uutisia kaiksetsa mitkä liityvat atk puolelle toki myös <br>
               niitä mitä voisi olla ajankohtaista.Katsomme viellä mitä muuta voisin lisätä tänne.<br>
               
                
                

                
            </p>
        </article>
    </section>
</Sivupohja>
