---
import Sivupohja from "../layouts/normisivu.astro";
---

<style>
  html {
    font-family: sans-serif;
  }

  .iso {
    flex: 2;
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgb(251, 251, 251);
    flex: 1;
  }
  section {
    display: flex;
  }
</style>
<Sivupohja
  herokuva="/images//heroatk.png"
  ylapalkivari="#000000"
  alapalkivari="#000000"
  heroteksti=""
  heropainike={true}
>
  <section>
    <article class="iso">
      <p>
        <center>
          <img src="/images/uutiset1.png" alt="" width="300" height="200" />
          <br /></center
        >
        <center
          ><br />
          Tänne tuomme uusia Uutisia kaiksetsa mitkä liityvat atk puolelle toki myös
          <br />
          niitä mitä voisi olla ajankohtaista.Katsomme viellä mitä muuta voisin lisätä
          tänne.<br />
          <br /><br />
          Tänne tuomme uusia uutisia kaikista aiheista, jotka liittyvät ATK-alaan
          ja teknologiaan. Lisäksi käsittelemme ajankohtaisia ja merkityksellisiä
          tapahtumia, joista voi olla hyötyä tai mielenkiintoa lukijoillemme. Tutkimme
          vielä, mitä muuta voisimme lisätä tähän osioon. Venäläinen tietoturvayhtiö
          Kaspersky on oma-aloitteisesti poistanut ohjelmistonsa yhdysvaltalaisten
          asiakkaidensa tietokoneilta. Tämä toimenpide on yllättänyt monia Kasperskyn
          käyttäjiä, koska ohjelmiston poiston yhteydessä asennettiin UltraAV-ohjelmisto
          ilman ennakkovaroitusta. Tietoturvaan keskittyvä uutispalvelu The Bleeping
          Computer raportoi asiasta laajasti. UltraAV on VPN-ratkaisuistaan tunnetun
          Pango Groupin tuote. Kasperskyn mukaan ohjelmiston vaihtaminen UltraAV
          takaa suojauksen jatkuvuuden. Muutoksen nopeus ja ennakoimattomuus on kuitenkin
          herättänyt monissa käyttäjissä huolta laitteidensa tietoturvasta. Ohjelmiston
          poistamisen taustalla on Kasperskyn päätös lopettaa toimintansa Yhdysvalloissa.
          Tämä ratkaisu tehtiin sen jälkeen, kun Yhdysvaltojen hallitus lisäsi yrityksen
          kansallisten turvallisuusuhkien listalle ja kielsi Kasperskyn tuotteiden
          myynnin ja päivitykset syyskuusta 2024 alkaen. Tivi pitää sinut ajan tasalla
          alan tärkeimmistä uutisista – tilaa uutiskirjeemme ja saat IT-alan kuumimmat
          puheenaiheet suoraan sähköpostiisi!
        </center>
        <img src="" alt="" width="300" height="200" />
      </p>
    </article>
  </section>
</Sivupohja>
