---
import Sivupohja from "../layouts/Sivupohja.astro";
---

<style>
    html {
        font-family: sans-serif;
    }

    .iso {
        flex: 2;
    }

    body {
        margin: 0;
        overflow-x: hidden;
    }

    h1 {
        text-align: center;
        color: white;
        line-height: 100px;
        margin: 0;
    }

    article {
        padding: 10px;
        margin: 10px;
        background: rgb(251, 251, 251);
        flex: 1;
    }
    section {
        display: flex;
    }
</style>
<Sivupohja
    herokuva="images/heroatk.png"
    ylapalkivari="#000000"
    alapalkivari="#000000"
    heroteksti=""
    heropainike={true}
>
    <section>
        <article>
            <h2>Atk-huolto</h2>

            <p>
                <img src="images/atkkorjaus.jpg" alt="" width="300" height="200" />
                <br><br />
                <strong>Edullista tietokoneiden huoltoa Ikaalisissa</strong> <br/>
                Etsitkö edullista ja osaavaa tietokoneiden huoltoliikettä Ikaalisessa? Atk-huolto iku on keskustan tuntumassa, 
                toimiva PC- ja MAC-tietokoneiden huoltoihin, korjauksiin ja varaosiin erikoistunut asiantuntijayritys.
                Huoltopalveluiden lisäksi myymme myös laadukkaita uusia 
                PC-tietokoneita ja vähän käytettyjä läppäreitä.
                <br>
                <br><br/>
                <strong>Tietokone rikki?</strong>
                <br/>
                Menikö tietokone rikki? Tarjoamme aina asiantuntevaa, 
                nopeaa ja edullista kokonaispalvelua niin yrityksille 
                kuin kuluttaja-asiakkaille, 
                jossa huoltoa tai 
                korjausta kaipaavan tietokoneen tai laitteen ns. 
                aloitusanalyysi on maksuton, 
                kun huoltotyöt teetetään meillä.
                <br/>
                <br/>
                <strong>Mac-huollot (ei sis. takuuhuoltoja)</strong> 
                <br/>
                PC-tietokoneiden lisäksi huollamme ja korjaamme Applen alkuperäisiä varaosia käyttäen myös 
                
                MAC-tietokoneet, puhelimet, tabletit ja laitteet (Mac • iMac • Mac Mini • Mac Pro). 
                Emme tee Applen takuukorjauksia.
                <br><br/>
                <strong>Virusten ja haittaohjelmien poisto</strong> <br/>
                Vaivaako virus vai iskikö mystinen haittaohjelma tietokoneeseen? Jos olet täysin varma tai edes epäilet, 
                että tietokoneeseesi on iskenyt sinne kuulumattomia haittaohjelmia tai se toimii oudosti, 
                niin ota meihin yhteyttä ja selvitetään mikä on tilanne.
            </p>
        </article>

        <article class="iso">
            <h2>Kotisivun suunnittelu ja asentaminen</h2>

            <p>
                <img src="images/auto.jpeg" alt="auto" />
                <br />
                Verkkosivuston suunnittelu
                Verkkosivuston suunnittelun ABC
                Haluat verkkosivuston, mutta miten tulisi edetä? Mieti seuraavia kotisivun suunnittelun perusasioita etukäteen. Näin verkkosivuston suunnittelu ja koko prosessi helpottuu!
                
                <li>Ulkoasu ja rakenne</li>
                <li>Värimaailma</li>
                <li>Asettelut</li>
                <li>Valikoiden paikat</li>
                <li>Tekstit</li>
                <li>Kuvat</li>
                <br><br/>
                Suunnittele rohkeasti paperille, tekstinkäsittelyllä tai piirto-ohjelmaan! Kerro omat ideasi!
                
                Älä jää asian kanssa yksin, vaan ota yhteyttä. Mietitään yhdessä, miten meidän kannattaa edetä verkkosivustosi suunnittelun kanssa. Pidetään palaveri tai puhelinkokous! Autan sinua saamaan toiveittesi mukaiset kotisivut.
                
                Kun olet jo vähän miettinyt, voit lukea lisää yleisiä mietittäviä asioita osiosta nettisivujen teko.
                
                internethelp verkkosivuston toteutus toimistoapulainen
                Toimistopäällikkö valvoo kotisivujen valmistumista ja työn edistymistä
                Tekstit
                Tekstit nettisivulle toimittaa yleensä työn tilaaja eli toimeksiantaja. Internethelp oikolukee, tarkistaa oikeinkirjoituksen ja ehdottaa korjauksia. Tarvittaessa teen myös tekstejä itse, kunhan vähän ohjaat minua.
                <br><br/>
                Muistathan, että suora kopiointi muiden sivuilta ei ole sallittua. Vaikka katsoisit ideoita muilta benchmarking-tyyliin, muista kuitenkin muokata tekstit itsesi näköisiksi.
                
                Otan kaikilla tekemilläni uusilla sivustoilla hakukoneoptimoinnin huomioon. Hakukoneoptimointi tarkoittaa, että sivustosi rakennetaan mahdollisimman selkeäksi hakukoneita varten. Muutoin sivuston tekemisessä ei mitään järkeä olisikaan. 
                
                Kuvat
                Omia kuvia kannattaa käyttää. Ne ovat persoonallisia ja kertovat yrityksen omaa tarinaa. Yleisesti käytetään valokuvia, mutta verkkosivustolle voi suunnitella myös laitettavaksi piirroksia.
                
                Yleensä tilaaja toimittaa kuvat sähköpostilla. Internethelp tekee kuvamuokkaukset (oikea koko, pakkaus ja tarpeelliset sävymuutokset) tarpeen mukaan. Myös valmiita kuvapankkeja voi käyttää hätätapauksissa.
                
                Kuvat ovat tärkeitä osia verkkosivustolla, koska ihminen pystyy lukemaan kuvaa niin nopeasti. Kuvilla luodaan tunnelmaa, informoidaan ja kerrotaan tärkeät asiat. Kuvien on tarkoitus vahvistaa tekstiä ja usein myös johdattaa aiheeseen.
                
                Otan tarvittaessa kuvia sivustollesi tai voin suositella eräitä valokuvaajia.
                <br><br/>
                Internethelp verkkosivuston suunnittelu kuvat
                
                <body>Lisäominaisuuksia?</body>
                Verkkosivuston suunnittelussa voi jo miettiä myös vähän laajemmin tulevaa projektia.
                
                Tarvitsetko kävijäseurantaa? Sivullesi voidaan asentaa ilmainen Googlen Analytics -seurantaohjelma, jonka avulla näet tietoa kävijöistä.
                
                Onko yrityksesi somessa? Sivustolle voidaan lisätä esimerkiksi Facebookin julkaisut. Näin sivustolla näkyy, kun julkaiset Facebookissa.
                
                Tarvitsetko verkkosivuillesi yhteydenottolomakkeen, jolla asiakkaasi tavoittavat sinut? Vai teemmekö tarjouspyynnön suoraan lomakkeelle?
                
                Onko yrityksellesi aiheellista liittää ajanvarausohjelma sivustoosi?
                
                Myytkö palvelua? Olisiko sinulle hyötyä referenssisivusta, jossa voit esitellä tehtyjä töitäsi?
                
                Verkkosivuston suunnittelu etenee asiasta toiseen kuin pallo joka lähtee pyörimään. Tärkeintä on ottaa se ensimmäinen askel ja saada liike aikaiseksi. Autan sinua hoitamaan verkkosivuston toteutuksessa teknisen puolen kuntoon. Yhteistyömme kotisivujen suunnittelussa tulee olemaan mitä luultavimmin hyvää!
                
                Loppuun vielä ihanasti Tieken sivuilta joskus löytynyt kiteytys.
                <br><br/>
                Hyvän verkkosivun pikaohjeet
                Rakenna sivut niin, että tärkein asia on alussa.
                Käytä mahdollisimman selkeää ja helppoa kieltä.
                Tee ensin yksinkertainen sivu ja sommittele ulkoasu erikseen ns. tyylitiedostolla.
                Tee kertovat linkit, joista heti näkee, mitä sisältöä linkin takana on.
                Tarjoa kuville ja äänille tekstivaihtoehto.
                Verkkosivut yritykselle
            </p>
        </article>

        <article></article>
    </section>
</Sivupohja>
