---
import Sivupohja from "../layouts/Sivupohja.astro";
---

<style>
  html {
    font-family: sans-serif;
  }

  .iso {
    flex: 2;
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    padding: 10px;
    margin: 10px;
    background: rgb(251, 251, 251);
    flex: 1;
  }
  section {
    display: flex;
  }
</style>
<Sivupohja
  herokuva="images/headbar.jpg"
  ylapalkivari="#000000"
  alapalkivari="#000000"
  heroteksti=""
  heropainike={false}
>
  <section>
    <article class="iso">
      <p>
        <center> <br /></center>
        <center
          ><br />
          Ota yhteyttä niin voimme auttaa sinua.<br />
          Yhteistiedot<br />
          Alvar Stenroth
          <br />
          Puh: 044-2944273
          <br />
          alvar.stenroth@gmail.com
          <br />
          Ikaalinen
        </center>
      </p>
    </article>
  </section>
</Sivupohja>
