---
import Some from "./Some.astro";
const { taustavari = "#000" } = Astro.props;
---

<style>
  footer {
    background-color: #080808;
  }

  .footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
  }

  .footerNav {
    margin: 30px 0;
  }

  .footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }

  .footerNav ul li a:hover {
    opacity: 1;
  }

  .footerBottom {
    padding: 20px;
    text-align: center;
  }

  .footerBottom p {
    color: white;
  }

  .designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }

  @media (max-width: 700px) {
    .footerNav ul {
      flex-direction: column;
    }

    .footerNav ul li {
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  }
</style>

<center
  ><footer style={{ backgroundColor: taustavari }}>
    <div class="footerContainer">
      <!-- <div class="footerNav">
        <ul>
          <li><a href="/">Etusivu</a></li>
          <li><a href="/uutisetatk">Uutiset</a></li>
          <li><a href="/yhteistiedot">Yhteistiedot</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div> 
       <Some />
      -->
    </div>
    <div class="footerBottom">
      <p>
        Copyright &copy;2023; Designed by <span class="designer">Alvar</span>
      </p>
    </div>
  </footer></center
>
