<style>
  .socialIcons {
    display: flex;
    justify-content: center;
  }

  .socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }

  .socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
  }

  /* Hover affect on social media icon */
  .socialIcons a:hover {
    background-color: #000000;
    transition: 0.5s;
  }

  .socialIcons a:hover i {
    color: white;
    transition: 0.5s;
  }

  @media (max-width: 700px) {
    .socialIcons a {
      padding: 8px;
      margin: 4px;
    }
  }
</style>
<!--<div class="socialIcons">
  <a href=""><i class="fa-brands fa-facebook"></i></a>
  <a href=""><i class="fa-brands fa-instagram"></i></a>
  <a href=""><i class="fa-brands fa-twitter"></i></a>
  <a href=""><i class="fa-brands fa-google-plus"></i></a>
  <a href=""><i class="fa-brands fa-youtube"></i></a>
</div>
  -->
