---
const { taustavari = "#333" } = Astro.props;
---

<style>
    .valikko {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .valikko li {
        float: left;
    }

    .valikko li a {
        display: block;
        color: rgb(252, 249, 249);
        text-align: center;
        padding: 15px 17px;
        text-decoration: none;
    }

    .valikko li a:hover {
        background-color: #1a1919;
    }
</style>

<ul class="valikko" style={{ backgroundColor: taustavari }}>
    <li><a href="home">Etusivu</a></li>
    <li><a href="#news">Uutiset</a></li>
    <li><a href="#yhteistieto">Yhteistiedot</a></li>
    <li><a href="#about">Osoite</a></li>
    <li><a href="/navi">Kartta</a></li>
    
</ul>
